.excel-preview {
  margin-top: 1em;
  max-height: 80vh;
  max-width: 100%;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 5pc;
}

.excel-preview__table {
  border-collapse: collapse;
  width: 100%;
  color: #333; // color por defecto para modo claro
}

.excel-preview.dark-mode .excel-preview__table {
  color: #fff; // color para modo oscuro
}

.excel-preview__table td {
  border: 1px solid #ccc; // color por defecto para modo claro
  padding: 0.5em;
  text-align: left;
}

.excel-preview.dark-mode .excel-preview__table td {
  border: 1px solid #aaa; // color para modo oscuro
}

.excel-preview__table td.modified {
  background-color: #fffbcc; // color por defecto para modo claro
}

.excel-preview.dark-mode .excel-preview__table td.modified {
  background-color: #555; // color para modo oscuro
}

@media (max-width: 1024px) {
  .excel-preview {
    margin-top: 0.5em;
    max-height: 70vh;
  }

  .excel-preview__table td {
    font-size: 0.9em;
    padding: 0.25em;
  }
}

@media (max-width: 768px) {
  .excel-preview {
    margin-top: 0.25em;
    max-height: 60vh;
  }

  .excel-preview__table td {
    font-size: 0.8em;
  }
}
