.excel-preview {
    margin-top: 1em;
  }
  
  .excel-preview__table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .excel-preview__table td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
  }
  