.excel-reader {
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s ease;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  height: 71pc;

  a { // selector de enlace
    color: #000; // color de texto negro para el modo claro
  }

  &.dark-mode {
    background-color: #333;
    
    a { // selector de enlace
      color: #f8f9fa; // color de texto blanco para el modo oscuro
    }

    .excel-reader__top-bar {
      background-color: #444;
      border-color: #555;
    }
    .excel-reader__title {
      color: #f8f9fa;
    }
    .excel-reader__input {
      background-color: #555;
      color: #f8f9fa;
      border-color: #f8f9fa;
    }
    .excel-reader__button {
      background-color: #f8f9fa;
      color: #333;
      &:hover {
        background-color: #ddd;
      }
      &:disabled {
        background-color: #888;
        color: #ffffff;
      }
    }
    .excel-reader__mode-toggle {
      background-color: #0056b3;
      &:hover {
        background-color: #007bff;
      }
    }
  }
}

.excel-reader__top-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 1em;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  z-index: 100;
}

.excel-reader__title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  margin-top: 100px;
}

.excel-reader__mode-toggle {
  padding: 0.5em 1em;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.excel-reader__content {
  width: 100%;
  max-width: 1024px;
  margin: 2em auto;
}

.excel-reader__input {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 12px;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 1em;
  border: solid 1px #0000004a;
}

.excel-reader__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.excel-reader__button {
  flex: 1;
  margin-right: 0.5em;
  padding: 0.5em;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: #0056b3;
  }
}

.excel-reader.dark-mode .excel-reader__button {
  background-color: #0056b3;
  color: #fff;

  &:not(:disabled):hover {
    background-color: #007bff;
  }
}

.excel-reader__mode-toggle {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.excel-reader__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.excel-reader.dark-mode .excel-reader__mode-toggle {
  background-color: #0056b3;

  &:hover {
    background-color: #007bff;
  }
}

@media (max-width: 1024px) {
  .excel-reader {
    padding: 10px; // Reduce el relleno en dispositivos más pequeños
  }

  .excel-reader__content {
    padding-top: 1em;
  }

  .excel-reader__input,
  .excel-reader__button {
    width: 100%;
    margin-bottom: 1em;
  }

  .excel-reader__buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .excel-reader__button {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .excel-reader__top-bar {
    padding: 0.5em;
    margin-bottom: 5pc;
  }

  .excel-reader__title {
    font-size: 1.5em;
  }

  .excel-reader__input {
    font-size: 0.9em;
  }

  .excel-reader__button {
    font-size: 0.9em;
  }
}