.excel-reader {
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s ease;
  align-items: center;
}

.excel-reader.dark-mode {
  background-color: #333;
  color: white;
}

.excel-reader__top-bar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-bottom: 10pc;
  
  .excel-reader__title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.excel-reader__content {
  z-index: 0;
  padding-top: 3em;
}

// desde aqui

.excel-reader__input {
  margin-bottom: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
  color: #333; // color por defecto para modo claro
  background-color: #fff; // color por defecto para modo claro
  margin-left: 10px;
}

.excel-reader.dark-mode .excel-reader__input {
  color: #fff; // color para modo oscuro
  background-color: #555; // color para modo oscuro
}

.excel-reader__button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 10px;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: #0056b3;
  }
}

.excel-reader.dark-mode .excel-reader__button {
  background-color: #0056b3;

  &:not(:disabled):hover {
    background-color: #007bff;
  }
}

.excel-reader__mode-toggle {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.excel-reader.dark-mode .excel-reader__mode-toggle {
  background-color: #0056b3;

  &:hover {
    background-color: #007bff;
  }
}